bleach
build
certifi
CFSIV-utils-Conradical
chardet
colorama
dateparser
docutils
idna
importlib-metadata
keyring
loguru
packaging
pep517
pkginfo
py-dateutil
Pygments
pyparsing
python-dateutil
pytz
pywin32-ctypes
readme-renderer
regex
requests
requests-toolbelt
rfc3986
six
toml
tqdm
twine
tzlocal
urllib3
webencodings
win32-setctime
zipp
